@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #ecf8f8;
    color: #080705;
}
h1 {
    font-family: 'Raleway', sans-serif;
    color: #4464ad
}
a {
    text-decoration: none;
    color: #d81159;
}
h2 {
    font-family: 'Raleway', sans-serif;
    color: #d81159
}
.container, img{
    max-width: 600px;
    margin: 0 auto;
}
ul, ol {
    text-align: left;
}
.homepage-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.homepage-img img {
    width: 400px;
}