@import url('https://fonts.bunny.net/css?family=roboto:400|allerta:400');

:root {
    --black: #1f1f1f;
    --white: #f3f3f3;
    --blue: #101828;
    --yellow: #e3b261;
    --green: #009689;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */
.header {
    background-color: var(--black);
    color: var(--white);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    align-items: center;
    gap: 12px;
}

.hero img {
    height: 2em;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 1rem;
}

/* Main Layout */
.container {
    display: flex;
    flex-grow: 1;
}

/* Sidebar */
.sidebar {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 16px;
    min-width: 200px;
}

.sidebar a {
    font-size: 1.1rem;
    color: var(--white);
}

.sidebar .current {
    color: var(--green);
}
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: min-content;
  gap: 1.5rem;
  padding: 1rem;
}
.project {
    display: grid;
    border: 2px solid var(--yellow);
    padding: 1rem;
    border-radius: 1rem;
    grid-template-rows: 1fr minmax(min-content, 0.5fr) auto;;
}
.project h2 {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.project h3 {
    font-size: 1rem;
    color: var(--green);
    margin-bottom: 0.5rem;
}

.project p {
    text-align: justify;
    font-size: 0.95rem;
    line-height: 1.5;
}
a {
    text-decoration: underline
}
.sidebar a, .header a {
    text-decoration: none;
}
.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 15px;
    text-align: center;
    font-size: 0.9rem;
}
