@import url(https://fonts.bunny.net/css?family=akshar:400);
@import url(https://fonts.bunny.net/css?family=abril-fatface:400);
:root {
    --white: #f3f3f3;
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Akshar', sans-serif;
}
.login {
    flex-grow: 1;
}
.image {
    background-image: url('background.jpg');
    background-size: 160%;
    background-repeat: no-repeat;
    background-position-x: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
}
.image h1 {
    font-family: 'Abril Fatface', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px clamp(10vw, 100px, 20vw);
    font-size: 40px;
    margin-top: 35%;
}
.image [src='logo.svg'] {
    height: 30px;
    margin-right: 10px;
}
.image p {
    text-align: center;
    padding: 10px;

}
.separator {
    flex-grow: 1;
}