@import url(https://fonts.bunny.net/css?family=roboto:400,700);
* {
    margin: 0;
    padding: 0;
}
:root {
    --accent1: #ffd03f;
    --accent2: #7944ff;
    --white: #e6f5ff;
    --black: #0d1216;
    --gray: #d0dcec;
    
    --padding: 10px;
}
body {
    background-color: var(--white);
}
.container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: minmax(100vh, auto);
    font-family: 'Roboto', sans-serif;
}
.sidebar {
    background-color: var(--accent2);
    padding: var(--padding);
    color: var(--white);
}
.sidebar h1.option {
    font-size: 32px;
}
.sidebar .option {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
}
.sidebar .option img {
    height: 1.5em;
}
.options {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
input {
    padding: 5px;
    border: 0;
    background-color: var(--gray);
    border-radius: 20px;
}
.circle {
    width: 40px;
    border-radius: 50%;
}
.header {
    padding: 10px 40px 20px;
}
.top-row {
    display: grid;
    grid-template-columns: min-content 2fr 1fr min-content;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.side-menu {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    align-items: center;
    gap: 20px;
}
.main {
    display: flex;
    flex-direction: column;
}
.content {
    background-color: var(--gray);
    flex-grow: 1;
}
.circle-big {
    width: 80px;
    border-radius: 50%;
}
.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.intro {
    display: flex;
    gap: 15px;
    align-items: center;
}
button {
    border: 0;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--white);
    background-color: var(--accent2);
    padding: 10px 50px;
    border-radius: 50px;
    margin: 0 calc(15px / 2);
}
.content {
    display: flex;
    padding: 20px;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    gap: 20px;
}
.projects {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#header-projects {
    grid-area: header;
}
.project-card {
    padding: 30px;
    background-color: var(--white);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.project-card h3 {
    margin-top: 10px;
    margin-bottom: -20px;
}
.icons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.announcements, .notifications{
    background-color: var(--white);
    padding: 30px;
    border-radius: 30px;
    width: 300px;
}
.announcements h3, .notifications h3 {
    margin-bottom: 20px;
}
ul {
    list-style: none;
}
li {
    border-bottom: 2px solid var(--gray);
    padding: 10px;
}
li:last-child {
    border-bottom: none;
    padding-bottom: none
}
a {
    color: var(--accent2);
    text-decoration: none;
}
.other {
    display: flex;
    flex-direction: column;
    gap: 20px;
}