@import url(https://fonts.bunny.net/css?family=roboto:400,700);
* {
    margin: 0;
    padding: 0;
}
:root {
    --accent1: #ffd03f;
    --accent2: #7944ff;
    --white: #ccebff;
    --black: #0d1216;
    --gray: #cad5e4;

    --padding: 10px;
}
body {
    background-color: var(--white);
}
.container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100vh;
    font-family: 'Roboto', sans-serif;
}
.sidebar {
    background-color: var(--accent2);
    padding: var(--padding);
    color: var(--white);
}
.sidebar .option {
    display: flex;
    align-items: center;
    gap: var(--padding);
}
.options {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
input {
    padding: 5px;
    border: 0;
    background-color: var(--gray);
    border-radius: 20px;
}
.circle {
    width: 40px;
    border-radius: 50%;
}
.header {
    padding: 10px 40px 20px;
}
.top-row {
    display: grid;
    grid-template-columns: min-content 2fr 1fr min-content;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.bold {
    font-weight: bold;
}
.side-menu {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    align-items: center;
    gap: 20px;
}
.main {
    display: flex;
    flex-direction: column;
}
.content {
    background-color: var(--gray);
    flex-grow: 1;
}
.circle-big {
    width: 80px;
    border-radius: 50%;
}
.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.intro {
    display: flex;
    gap: 15px;
    align-items: center;
}
button {
    border: 0;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--white);
    background-color: var(--accent2);
    padding: 10px 35px;
    border-radius: 35px;
}