* {
    margin: 0;
    padding: 0;
    font-family: inherit;
    color: inherit;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
    background-color: #caffc9;
    color: #252525
}
h1 {
    color: #fff9f9
}
h2 {
    font-size: 20px;
}
a {
    font-weight: bold;
    text-decoration: none;
}
button {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 0 0 0;
    background-color: inherit;   
}

.removeBtn {
    color: red;
    border: 2px solid red;
}
.removeBtn:hover {
    background-color: rgba(255, 0, 0, 0.2);
}
.readBtn {
    color: rgb(0, 60, 255);
    border: 2px solid ;
}
.readBtn:hover {
    background-color: rgba(0, 60, 255, 0.2);
}
.addBtn {
    background-color: #fff9f9;
    border: 2px solid #caffc9;
    color: #193d18;
    font-weight: bold;
    font-size: 18px;
}

.buttonContainer {
    display: flex;
    gap: 10px
}
.card {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff9f9;
    min-width: 300px;
}
.footer {
    padding: 20px;
    background-color: #252525;
    color: #fff9f9;
    text-align: center;
}
.wrapper {
    padding: 15px;
    background-color: #193d18;
    display: flex;
    justify-content: space-between;
}
#bookContainer {
    display: flex;
    padding: 30px;
    gap: 20px;
    flex-wrap: wrap;
}
