* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: 'JetBrains Mono';
    background-color: #caffc9;
    color: #252525
}
h1 {
    color: #fff9f9
}
h2 {
    font-size: 20px;
}
a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff9f9;
    min-width: 300px;
}
.footer {
    padding: 20px;
    background-color: #252525;
    color: #fff9f9;
    text-align: center;
}
.wrapper {
    padding: 15px;
    background-color: #193d18;
}
#bookContainer {
    display: flex;
    padding: 30px;
    gap: 20px;
    flex-wrap: wrap;
}