@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --cell-width: 25px
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0e0e;
    color: #f5f3ff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
}
#grid-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #0f0e0e;
    background-color: #f5f3ff;
}
.grid-cell {
    /* border: 1px solid red; */
    width: var(--cell-width);
    height: var(--cell-width);
    box-sizing: border-box;
}
.black {
    background-color: #0f0e0e;
}
.container {
    background-color: #b41219;
    padding: 20px 80px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-radius: 30px;
}
button, input {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 3px solid #f6ae2d;
    background-color: #f5f3ff;
    border-radius: 10px;
}
.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}